[Desktop Entry]
Type=Application
Name=NewsBlur
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/NewsBlur
Comment=Sailfish UI application


